.GameHeader {
  display: flex;
  flex-direction: column;
  background-color: grey;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-bottom: 2rem;

  &__text {
    text-transform: capitalize;
  }
}
